html,
body {
  height: 100%;
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signin {
  max-width: 500px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 7px;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 7px;
}

.register-box {
  max-width: 400px;
  margin: 0 auto;
}

.custom-form {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  padding: 40px;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.custom-form img {
  margin-bottom: 50px;
  width: 300px;
  height: auto;
}

.custom-form h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.custom-form .form-floating {
  margin-bottom: 30px;
}

.custom-form .btn {
  margin-top: 20px;
  padding: 10px 0;
  font-size: 1.1rem;
}

.password-container {
    position: relative;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.checkbox {
  text-align: right;
  font-size: 14px;
  /* margin-top: 0px; */
}
